body {
    background-color: #A9A9A9;
}

header h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding: .5rem;
    color: #181818;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

li {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

li.is-flipped {
    transform: rotateY(-180deg);
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:	#D3D3D3;
    border-radius: 17px;
    backface-visibility: hidden;
    border: 1px solid #696969;
    box-shadow: 0px 0px 8px;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}    

.front > img {
    max-width: 80%;
    height: auto;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px;
}

.card-title {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.back {
    font-family: 'Montserrat', sans-serif;
    transform: rotateY( 180deg );
}

.back-card-route {
    padding: 0 0 0 15px;
}

.back-card-mt {
    text-align: center;
}

.hidden {
    display: none;
}

form {
    height: 10vh;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    margin: 2rem;
}

select {
    border: transparent;
    color: #696969;
}

.search-by-name {
   height: 30px;
   width: 300px;
   padding: 5px;
   border: none;
   border-radius: 20px; 
   outline: none;
   text-align: center;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;

}

.search-btn {
    height: 30px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 20px; 
    outline: none;
    text-align: center; 
    display: none;
}

.difficulty-box {
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 20px; 
    font-family: 'Montserrat', sans-serif;
    color: #696969;
    font-size: 14px;

}

#mountain-icon {
    width: 10rem;
}

#copyright {
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}