body {
    background-color: #A9A9A9;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

li {
    border: 1px solid #696969;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 25rem;
    border-radius: 17px;
    background-color:	#D3D3D3;
    box-shadow: 0px 0px 8px;
}

li > img {
    max-width: 80%;
    height: auto;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px;
}


.card-title {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
    display: inline-block;
}

.form-box {
    height: 10vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.search-by-name {
   height: 30px;
   width: 200px;
   padding: 5px;
   border: none;
   border-radius: 20px; 
   outline: none;
   text-align: center; 
}

.search-btn {
    height: 40px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 20px; 
    outline: none;
    text-align: center; 
}